<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${event.getName()}">name of event</title>
    </head>
    <body>
        <h1 th:text="${event.getName()}">name of event</h1>

        <h2>Event information</h2>
        <table>
            <tr>
                <td style="font-weight: bold">Date: </td>
                <td colspan="2" th:text="${event.printEventDate()}">event date</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Location: </td>
                <td colspan="2" th:text="${event.getLocation()}">event location</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Registration: </td>
                <td th:if="${event.isRegistrationOpen() == true}">Open </td>
                <td th:if="${event.isRegistrationOpen() == false}">Closed </td>
                <td>
                    <form th:if="${event.isRegistrationOpen() == true}" th:action="@{/events/close}" th:method="post">
                        <input type="hidden" name="id" id="id" th:value="${event.getId()}"/>
                        <input type="submit" value="Close registration"/>
                    </form>
                    <form th:if="${event.isRegistrationOpen() == false}" th:action="@{/events/open}" th:method="post">
                        <input type="hidden" name="id" id="id" th:value="${event.getId()}"/>
                        <input type="submit" value="Open registration"/>
                    </form>
                </td>
            </tr>
        </table>
        <p th:text="${event.getDescription()}"></p>
        
        
        <h2>Registrations</h2>
        <table>
            <thead>
                <tr>
                    <th colspan="4" style="border: 1px solid black;">Registrant details</th><th colspan="4" style="border: 1px solid black;">Character preferences</th>
                </tr>
                <tr>
                    <th>Name</th><th>E-mail</th><th>Gender</th><th>Age</th><th>Gender</th><th>Age group</th><th>Plot keywords</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${event.getRegistrations().empty}">
                    <td colspan="7">No registrations</td>
                </tr>
                <tr th:each="registration : ${event.getRegistrations()}">
                    <td th:text="${registration.getAccount().getFullName()}">registrant name</td>
                    <td th:text="${registration.getAccount().getEmail()}">registrant email</td>
                    <td th:text="${registration.getAccount().getGender()}">registrant gender</td>
                    <td th:text="${registration.getAccount().calculateAge()}">registrant age</td>
                    <td th:text="${registration.getPreferences().getGenderPref()}">gender preference</td>
                    <td th:text="${registration.getPreferences().getAgePref()}">age preference</td>
                    <td th:text="${registration.getPreferences().listPlotKeywords()}">plot keywords</td>
                    <td><form th:action="@{/registrations/{id}(id=${registration.id})}" th:method="get"><input type="submit" value="View details"/></form></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <form th:action="@{/userview}" th:method="get">
            <input type="submit" value="Back"/>
        </form>
    </body>
</html>
