<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LARP Registration Tool</title>
    </head>
    <body>
        <h1>Welcome to LARP Registration Tool</h1>
        <p>This will contain a proper description of the tool and its functions at some point, but since it is not relevant to this exercise, this placeholder text will have to do.</p>
        <h2>Log in</h2>
        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="name">Username</label>: <input type="text" name="username" id="username"/><br/>
            <label for="address">Password</label>: <input type="text" name="password" id="password"/><br/>
            <input type="submit" value="Login" /></p>
        </form>
        <h2>Create account</h2>
        <p>If this is your first time using the registration service, create yourself a user account by entering a username and password:</p>
        <form action="#" th:action="@{/create_account}" method="POST">
            <p>
                <label for="name">New username</label>: <input type="text" name="newUsername" id="newUsername"/><br/>
                <label for="address">New password</label>: <input type="text" name="newPassword" id="newPassword"/><br/>
                <input type="submit" value="Create" />
            </p>
        </form>
    </body>
</html>
