<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LARP Registration Tool Login</title>
    </head>
    <body>
        <h1>Welcome to LARP Registration Tool</h1>
        
        <h2>Log in</h2>
        <form th:action="@{/login.html}" method="post">
            <p>
                <label for="username">Username</label>: 
                <input type="text" name="username" id="username"/>
            </p>
            <p>
                <label for="password">Password</label>: 
                <input type="password" name="password" id="password"/>
            </p>
            <p>
                <input type="submit" value="Log in" />
            </p>
        </form>
        <p th:if="${loginError}" style="font-weight: bold; color: red;">Wrong user or password.</p>
        <p th:if="${logout}" style="font-weight: bold;">You have been successfullt logged out.</p>
        
        <h2>Create account</h2>
        <p>If this is your first time using the registration service, create yourself a user account by entering a username and password:</p>
        <form th:action="@{/create_account}" method="get">
           <input type="submit" value="Create account" />
        </form>
        <p th:if="${accountCreated}" style="font-weight: bold;">New user account <span th:text="${accountUsername}">username</span> created.</p>

    </body>
</html>
