<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account view</title>
    </head>
    <body>
        <h1>Account: <span th:text="${account.getFullName()}">full name</span></h1>
        <h2>Details</h2>
        <table>
            <tr>
                <td style="font-weight: bold">Name: </td>
                <td th:text="${account.getFullName()}">full name</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Username: </td>
                <td th:text="${account.getUsername()}">username</td>
            </tr>
            <tr>
                <td style="font-weight: bold">E-mail: </td>
                <td th:text="${account.getEmail()}">e-mail</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Gender: </td>
                <td th:text="${account.getGender()}">gender</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Birthday (age): </td>
                <td><span th:text="${account.printBirthdate()}">birthday</span> (<span th:text="${account.calculateAge()}">age</span>)</td>
            </tr>
        </table>
        <h2>Administered events</h2>
        <table>
            <thead>
                <tr>
                    <th>Event name</th><th>Date</th><th>Location</th><th>Registrations</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${events.empty}">
                    <td colspan="4">No events</td>
                </tr>
                <tr th:each="event : ${events}">
                    <td th:text="${event.getName()}">event name</td>
                    <td th:text="${event.printEventDate()}">event date</td>
                    <td th:text="${event.getLocation()}">event location</td>
                    <td th:text="${event.getRegistrations().size()}">number of registrations</td>
                    <td><form th:action="@{/events/{id}(id=${event.id})}" th:method="get"><input type="submit" value="View details"/></form></td>
                    <td><form th:action="@{/events/{id}(id=${event.id})}" th:method="delete"><input type="submit" value="Delete"/></form></td>
                </tr>
            </tbody>
        </table>
        <form th:action="@{/add_event}" th:method="post"><input type="submit" value="Create new event"/></form>
        
        <h2>Registrations to events</h2>
        <table>
            <thead>
                <tr>
                    <th>Event name</th><th>Date</th><th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${registrations.empty}">
                    <td colspan="3">No registrations</td>
                </tr>
                <tr th:each="registration : ${registrations}">
                    <td th:text="${registration.getEvent().getName()}">event name</td>
                    <td th:text="${registration.getEvent().printEventDate()}">event date</td>
                    <td th:text="${registration.getEvent().getLocation()}">event location</td>
                    <td><form th:action="@{/registrations/{id}(id=${registration.id})}" th:method="get"><input type="submit" value="View details"/></form></td>
                    <td><form th:if="${registration.getEvent().isRegistrationOpen() == true}" th:action="@{/registrations/{id}(id=${registration.id})}" th:method="delete"><input type="submit" value="Delete"/></form></td>
                </tr>
            </tbody>
        </table>
        
        <h3>Register to a new event</h3>
        <form action="#" th:action="@{/add_registration}" th:method="post">
            <p>
                <label for="event">Select event</label>: 
                <select name="eventId" id="eventId">
                    <option th:each="event : ${openEvents}" th:text="${event.getName() + ', ' + event.printEventDate() + ', ' + event.getLocation()}" th:value="${event.getId()}">event info</option>
                </select>
                <input type="submit" value="Register"/>
            </p>
        </form>
        <h2>Log out</h2>
        <form th:action="@{/logout}" th:method="get">
            <input type="submit" value="Log out"/>
        </form>
        
    </body>
</html>
